<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Gestión de Asientos Contables</title>

	<!-- Incluye jQuery -->
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
	<link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
	<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="assets/css/style.css" rel="stylesheet">
	<!-- DataTables CSS -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- DataTables JS -->
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>


</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="header fixed-top d-flex align-items-center">

		<div class="d-flex align-items-center justify-content-between">
			<a href="index" class="logo d-flex align-items-center">
				<img src="https://e7.pngegg.com/pngimages/239/499/png-clipart-computer-icons-others-miscellaneous-desktop-wallpaper-thumbnail.png" alt="Ícono" style="width: 24px; height: 24px;">
				<span class="d-none d-lg-block">Cuesta Ferrecentro</span>
			</a>
			<i class="bi bi-list toggle-sidebar-btn"></i>
		</div><!-- End Logo -->

		<div class="search-bar">
			<form class="search-form d-flex align-items-center" method="POST" action="#">
				<input type="text" name="query" placeholder="Search" title="Enter search keyword">
				<button type="submit" title="Search"><i class="bi bi-search"></i></button>
			</form>
		</div><!-- End Search Bar -->

		<nav class="header-nav ms-auto">
			<ul class="d-flex align-items-center">

				<li class="nav-item d-block d-lg-none">
					<a class="nav-link nav-icon search-bar-toggle " href="#">
						<i class="bi bi-search"></i>
					</a>
				</li><!-- End Search Icon-->
				<li class="nav-item dropdown">
				</li><!-- End Messages Nav -->
				<li class="nav-item dropdown pe-3">

					<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
						<img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
						<span class="d-none d-md-block dropdown-toggle ps-2">Kevin</span>
					</a><!-- End Profile Iamge Icon -->

					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
						<li class="dropdown-header">
							<h6>Kevin Anderson</h6>
							<span>Administrador IT</span>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="users-profile.html">
								<i class="bi bi-person"></i>
								<span>My Profile</span>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="users-profile.html">
								<i class="bi bi-gear"></i>
								<span>Account Settings</span>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
								<i class="bi bi-question-circle"></i>
								<span>Need Help?</span>
							</a>
						</li>
						<li>
							<hr class="dropdown-divider">
						</li>

						<li>
							<a class="dropdown-item d-flex align-items-center" href="#">
								<i class="bi bi-box-arrow-right"></i>
								<span>Sign Out</span>
							</a>
						</li>

					</ul><!-- End Profile Dropdown Items -->
				</li><!-- End Profile Nav -->

			</ul>
		</nav><!-- End Icons Navigation -->

	</header><!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">
		<ul class="sidebar-nav" id="sidebar-nav">
			<li class="nav-item">
				<a class="nav-link " href="index">
					<i class="bi bi-grid"></i>
					<span>Inicio</span>
				</a>

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components-nav" href="/categorias">
					<i class="bi bi-menu-button-wide"></i><span>Categoria</span>
				</a>
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#forms-nav" href="/articulos">
					<i class="bi bi-tools"></i><span>Articulos</span>
				</a>
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#forms-nav" href="/clientes">
					<i class="bi bi-journal-text"></i><span>Clientes</span>
				</a>

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#forms-nav" href="/facturacion">
					<i class="bi bi-receipt"></i><span>Facturas</span>
				</a>

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#icons-nav" href="/asientosContables">
					<i class="bi bi-bank"></i><span>Asientos Contables</span>
				</a>
			<li class="nav-heading">Administracion</li>
			<li class="nav-item">
				<a class="nav-link collapsed" href="/vendedores">
					<i class="bi bi-question-circle"></i>
					<span>Vendedores</span>
				</a>
			</li>
		</ul>

	</aside><!-- End Sidebar-->
	<main id="main" class="main">


		<div class="card" style="padding: 1.5em;">

			<div>
				<div class="pagetitle">
					<h1>Asientos Contables</h1>

					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index">Volver al Inicio</a></li>
						</ol>

					</nav>
				</div><!-- End Page Title -->

				<table class="table table-hover datatable">
					<thead>
						<tr>
							<th>Fecha</th>
							<th>Cuenta</th>
							<th>Descripcion</th>
							<th>Tipo de Movimiento</th>
							<th>Cliente</th>						
						</tr>
					</thead>
					<tbody>
						<tr th:each="asiento:${asientos}">
							<td th:text="${asiento.fecha}">Fecha</td>
							<td th:text="${asiento.cuenta}">Usuario</td>
							<td th:text="${asiento.descripcion}">Libro</td>
							<td th:text="${asiento.tipoMovimiento}">Dias Solicitados</td>
							<td th:text="${asiento.cliente.nombre}">Monto Por Dia</td>
							<td>
								
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>




	</main><!-- End #main -->

	<div class="modal fade" id="devolucionModal" tabindex="-1" aria-labelledby="devolucionModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="devolucionModalLabel">Nueva Devolución</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="devolucionForm" th:action="@{/devoluciones}" method="post">
						<label for="prestamo" class="form-label">ID</label>
						<input type="text" id="prestamoId" name="prestamoId">

						<div class="mb-3">
							<label for="fechaDevolucionActual" class="form-label">Fecha de Devolución Actual</label>
							<input type="date" class="form-control" id="fechaDevolucionActual"
								name="fechaDevolucionActual" required>
						</div>

						<button type="submit" id="saveDevolucionButton" class="btn btn-primary">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">

	</footer><!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	
	<!-- Template Main JS File -->
	<script src="assets/js/main.js"></script>


	<script>
		$(document).ready(function () {
			$('.datatable').DataTable({
				dom: 'Bfrtip',
				buttons: [
					{
						extend: 'excelHtml5',
						text: 'Exportar a Excel',
						title: 'Reporte de Autores'
					},
					{
						extend: 'pdfHtml5',
						text: 'Exportar a PDF',
						title: 'Reporte de Préstamos',
						orientation: 'landscape',
						pageSize: 'A4'
					},
					'print'
				]
			});
		});

		document.addEventListener('DOMContentLoaded', function () {
			var devolucionModal = document.getElementById('devolucionModal');
			devolucionModal.addEventListener('show.bs.modal', function (event) {
				var button = event.relatedTarget;
				var prestamoId = button.getAttribute('data-prestamo-id');
				var prestamoIdInput = document.getElementById('prestamoId');
				prestamoIdInput.value = prestamoId;
			});

			$('#devolucionForm').on('submit', function (e) {
				e.preventDefault();

				var formData = $(this).serialize();

				$.ajax({
					type: 'POST',
					url: $(this).attr('action'),
					data: formData,
					success: function (response) {
						// Actualiza el grid de préstamos
						$('#prestamosGrid').load('/prestamos #prestamosGrid');
						// Cierra el modal
						$('#devolucionModal').modal('hide');
					},
					error: function (error) {
						console.error('Error al guardar la devolución:', error);
					}
				});
			});
		});




	</script>

</body>

</html>